.arrow {
    width: 80px;
    height: 80px;
    font-size: 46px;
    font-weight: light;
    border-radius: 45px;
    border: none;
    background-color: white;
    position: absolute;
    top: 120px;
    right: -25px;
}