.card-container {
  width: 350px;
}


.title {
  font-size: 16px;
  color: rgb(34, 34, 34);
  text-align: left;
}

.actual-price {
  font-size: 24px;
}

.image-container {
  position: relative;
  color: #fff;

  .destination {
    position: absolute;
    bottom: 40px;
    left: 16px;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
  }

  .days {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-weight: bold;
  }

  .percentage {
    position: absolute;
    top: 8px;
    left: 16px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    background-color: #2A2A2A;
    padding: 6px 12px;
    color: #b19662;
    border-radius: 6px;
  }
}

.card-footer {
  padding: 0px 18px;
}

.from {
  color: rgb(73, 73, 73);
}

.card-container {
  margin: 0px;
}

// Pending: adjust card size width to device

/* $breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

@media (min-width: $breakpoint-mobile) {
  .card-container {
    width: 200px;
  }

}

@media (min-width: $breakpoint-tablet) {
  .card-container {
    width: 250px;
  }

}

@media (min-width: $breakpoint-desktop) {
  .card-container {
    width: 320px;
  }

} */